
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&display=swap');
:root{
    --green: #27b46e;
    --yellow: #EDC02c;
    --orange: #f03613;   
    --lightBlue: #A2eeeb;
    --cream: #f3e2b3;

    --1: #eab0fc;
    --2: #aa4ff6;
    --3: #8d39ec;
    --4: #7827e6;

    /* font */


    --font2:'Cabin', sans-serif
}
 
body{

    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 25%, rgba(234,176,252,1) 71%, rgba(170,79,246,1) 100%);
   
}